/** https://www.w3schools.com/cssref/css_colors.asp **/
.tabpane {
	
}

.tabheaders {
	PADDING-BOTTOM: 5px;
}

.tabtitle {
	PADDING: 5px 15px 5px 15px;
	TEXT-ALIGN: center;
	BORDER-BOTTOM: 2px solid;
}

.tabtitle A {
	TEXT-DECORATION: none;
}

.selectedtabtitle {
	PADDING: 5px 15px 5px 15px;
	TEXT-ALIGN: center;
	FONT-WEIGHT: bold;
	BORDER-LEFT: 2px solid;
	BORDER-RIGHT: 2px solid;
	BORDER-TOP: 2px solid;
}

.selectedtabtitle A {
	TEXT-DECORATION: none;
}

.mainsummary {
	DISPLAY: inline-block;
	PADDING-LEFT: 100px;
}

.totalpercent {
	DISPLAY: inline-block;
	VERTICAL-ALIGN: top;
	PADDING-LEFT: 100px;
}

TR.jsonrow:HOVER {
	BACKGROUND-COLOR: #eaeaea;
}

TD.jsoncell {
	VERTICAL-ALIGN: top;
}
}